caption {
    font-weight: 1200;
}

table {
    border: 2px solid grey;
    text-align: center;
    background-color: lightgray;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}
